body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4CAF50; /* Green background color */
}

#game-container {
    border: 6px solid #333;
    position: relative;
}

canvas {
    background-color: #fff;
}

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: black;
}
